<!DOCTYPE html>
<html>

<head>
    <% include ./Layout/Head.ejs %>
</head>

<body>
    <div id="root" class="gee6e73">

        <% include ./Layout/Navbar.ejs %>
        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

        <br>
        <h4 class="themePrimary textPrimary center">Users Approval</h4>
        <div class="container">
            <ul class="collapsible collapsible popout">
                <li>
                    <div class="collapsible-header"><i class="material-icons">people_outline</i>Reviewers</div>
                    <div class="collapsible-body">
                        <table class="striped centered">
                            <tbody>
                                <% for(var i=0;i<TempUsers.length;i++){%>
                                <% if(TempUsers[i]._rolesDemanded.indexOf('reviewer')>-1){%>
                                <tr>
                                    <td>
                                        <%=TempUsers[i]._name%>
                                    </td>
                                    <td>
                                        <%=TempUsers[i]._email%>
                                    </td>
                                    <td>
                                        <form action="/profile" method="POST">
                                            <button class="btn waves-effect waves-light themeAccent btn-small marginAll"
                                                type="submit" name="data" value="<%='reviewer-'+TempUsers[i]._id%>">Approve</button>
                                        </form>
                                    </td>
                                </tr>
                                <%}%>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">people</i>Editors</div>
                    <div class="collapsible-body">
                        <table class="striped centered">
                            <tbody>
                                <% for(var i=0;i<TempUsers.length;i++){%>
                                <% if(TempUsers[i]._rolesDemanded.indexOf('editor')>-1){%>
                                <tr>
                                    <td>
                                        <%=TempUsers[i]._name%>
                                    </td>
                                    <td>
                                        <%=TempUsers[i]._email%>
                                    </td>
                                    <td>
                                        <form action="/profile" method="POST">
                                            <button class="btn waves-effect waves-light themeAccent btn-small marginAll"
                                                type="submit" name="data" value="<%='editor-'+TempUsers[i]._id%>">Approve</button>
                                        </form>
                                    </td>
                                </tr>
                                <%}%>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <% include ./Layout/Footer.ejs %>
    </div>
    <!-- //////////////////////////////////////////////////////////////////////////////////// -->
    <% include ./Layout/ScriptTag.ejs %>

</body>

</html>