<!DOCTYPE html>
<html>

<head>
    <% include ./Layout/Head.ejs %>
</head>

<body>
    <div id="root" class="g9c27b0">

        <% include ./Layout/Navbar.ejs %>
        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <h4 class="themePrimary white-text center">Up Comming Conferences</h4>

        <!-- /////////////////////////////////////////////////////// -->
        <div class="container carousel carousel-slider center">
            <%for(var i=0;i<Conferences.length;i++){%>
            <div class="carousel-item">
                <div class="card marginAll hoverable teal lighten-4">
                    <div class="card-content">
                        <span class="card-title">
                            <h5>
                                <%=Conferences[i]._name%>
                            </h5>
                        </span>
                        <table>
                            <tbody>
                                <tr>
                                    <td>Date to be held:</td>
                                    <td>
                                        <%=Conferences[i]._date%>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Papers Submission Deadline:</td>

                                    <td class="red-text">
                                        <%=Conferences[i]._deadline%>
                                    </td>

                                </tr>
                                <tr>
                                    <td>Location:</td>
                                    <td>
                                        <%=Conferences[i]._location%>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <form method="GET" action="/upload">
                            <div class="center">
                                <button type="submit" name="CONFERENCE" value="<%=Conferences[i]._id%>" class="z-depth-0 waves-effect btn waves-light marginAll">Submit
                                    Paper</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <%}%>
        </div>
        <!-- /////////////////////////////////////////////////////// -->

        <h4 class="themePrimary white-text center">Published Papers</h4>
        <div class="container">
            <ul class="collapsible popout">
                <%for(var i=0;i<Papers.length;i++){%>
                <li class="btnClose white">
                    <div class="row">
                        <div class="collapsible-header valign-wrapper">
                            <p class="flow-text col s5">
                                <%=Papers[i]._title%>
                            </p>
                            <p class="flow-text col s1"> | </p>
                            <p class="flow-text col s5">
                                <%=Papers[i]._author%>
                            </p>
                            <i class="material-icons">keyboard_arrow_down</i>
                        </div>
                    </div>
                    <div class="btnClose collapsible-body">
                        <blockquote>
                            <p class="flow-text"><b>Introduction:</b>
                                <%=Papers[i]._intro%>
                            </p>
                        </blockquote>

                        <form method="GET" action="/paper">
                            <div class="center">
                                <input type="hidden" name="PAPER" value="<%=Papers[i]._id%>">
                                <button type="submit" name="AS" value="view" class="z-depth-0 waves-effect waves-light btn-small marginAll">View</button>
                                <a onclick="btnClose()" class="z-depth-0 waves-effect waves-light btn-small marginAll">Close</a>
                            </div>
                        </form>
                    </div>
                </li>
                <%}%>
            </ul>
        </div>

        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <% include ./Layout/Footer.ejs %>
    </div>
    <!-- //////////////////////////////////////////////////////////////////////////////////// -->
    <% include ./Layout/ScriptTag.ejs %>

</body>

</html>