<!DOCTYPE html>
<html>

<head>
    <% include ./Layout/Head.ejs %>
</head>

<body>
    <div id="root" class="g9c27b0">

        <% include ./Layout/Navbar.ejs %>
        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

        <br>
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <span class="card-title center">Login Again As</span>
                    <div class="card-content">
                        <form method="POST" action="/reLogin">
                            <div class="center">
                                <%for(var i=0;i<User._rolesApproved.length;i++){%>
                                <label class="marginAll">
                                    <input name="AS" value="<%=User._rolesApproved[i]%>" checked name="group1" type="radio" />
                                    <span>
                                        <%=User._rolesApproved[i]%></span>
                                </label>
                                <%}%>
                                <br><br>
                                <button type="submit" class="z-depth-0 waves-effect waves-light btn marginAll fullw">Re-Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <ul class="white collapsible expandable">
                <li>
                    <div class="collapsible-header">
                        <span>
                            <i class="material-icons">person</i><b>User Profile</b>
                        </span>
                    </div>
                    <div class="collapsible-body">
                        <span>
                            <%=User._name %> <a href="/edit" class="right waves-effect waves-light z-depth-0 btn-small"><i
                                    class="material-icons">edit</i></a>
                        </span>
                    </div>
                    <div class="collapsible-body">
                        <span>Email:</span><span class="right">
                            <%=User._email %></span>
                    </div>
                    <div class="collapsible-body">
                        <span>Gender:</span><span class="right">
                            <%=User._gender %></span>
                    </div>
                </li>
            </ul>
        </div>
        <br>
        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <% include ./Layout/Footer.ejs %>
    </div>
    <!-- //////////////////////////////////////////////////////////////////////////////////// -->
    <% include ./Layout/ScriptTag.ejs %>

</body>

</html>