<!DOCTYPE html>
<html>

<head>
    <% include ./Layout/Head.ejs %>
</head>

<body>
    <div id="root" class="g4caf50">

        <% include ./Layout/Navbar.ejs %>
        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

        <div class="container">
            <br>

            <%if(Papers.length==0){%>
            <p class="flow-text">Papers repository currently empty...</p>
            <%}%>

            <ul class="collapsible popout">
                <%for(var i=0;i<Papers.length;i++){%>
                <li class="btnClose white">
                    <div class="row">
                        <div class="collapsible-header valign-wrapper">
                            <%if(Papers[i]._status==='accepted'){%>
                            <i class="material-icons green-text tooltipped" data-tooltip="Accepted">done_outlined</i>
                            <%}else if(Papers[i]._status==='rejected'){%>
                            <i class="material-icons red-text tooltipped" data-tooltip="Rejected">clear</i>
                            <%}else if(Papers[i]._status==='published'){%>
                            <i class="material-icons blue-text tooltipped" data-tooltip="Published">cloud_upload</i>
                            <%}else if(Papers[i]._status==='assigned'){%>
                            <i class="material-icons green-text tooltipped" data-tooltip="Assigned">error</i>
                            <%}else{%>
                            <i class="material-icons purple-text tooltipped" data-tooltip="Unassigned">error</i>
                            <%}%>
                            <p class="flow-text col s6 l8">
                                <%=Papers[i]._title%>
                            </p>
                            <i class="material-icons">keyboard_arrow_down</i>
                        </div>
                    </div>
                    <div class="btnClose collapsible-body">
                        <blockquote>
                            <p class="flow-text"><b>Introduction: </b>
                                <%=Papers[i]._intro%>
                            </p>
                        </blockquote>
                        <%for(var j=0;j<Papers[i]._reviews.length;j++){%>
                        <blockquote>
                            <p class="flow-text"><b>Reviewer
                                    <%=j+1%>:</b>
                                <%=Papers[i]._reviews[j]._comment4author%>
                            </p>
                        </blockquote>
                        <%}%>

                        <form method="GET" action="/paper">
                            <div class="center">
                                <input type="hidden" name="PAPER" value="<%=Papers[i]._id%>">
                                <button type="submit" name="AS" value="view" class="z-depth-0 waves-effect waves-light btn-small marginAll">View</button>
                                <button type="submit" name="AS" value="delete" class="z-depth-0 waves-effect waves-light btn-small marginAll">Delete</button>
                                <a onclick="btnClose()" class="z-depth-0 waves-effect waves-light btn-small marginAll">Close</a>
                            </div>
                        </form>
                    </div>
                </li>
                <%}%>
            </ul>
        </div>
        <br>

        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <% include ./Layout/Footer.ejs %>
    </div>
    <!-- //////////////////////////////////////////////////////////////////////////////////// -->
    <% include ./Layout/ScriptTag.ejs %>

</body>

</html>